*{
    font-family: 'Source Sans Pro', sans-serif;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  .questions {
    margin-top: 20px;
  }
  
  .questions .container {
    margin-bottom: 20px;
  }
  
  .questions h4 {
    color: green;
  }
  